/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  footer {
    text-align: center;
    padding: 1rem;
    font-size: 0.875rem;
    color: #9ca3af;
  }
  
  .bg-gray-900 {
    background: linear-gradient(145deg, #1e293b, #121212);
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  }

/* Responsive Flex Container */

.flex-col {
  flex-direction: column;
}

.rounded-2xl {
  border-radius: 16px;
}


.cursor-pointer {
  cursor: pointer;
}
